/* App.css */

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #ff6600;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.2rem;
  color: #555;
}
